.page-header
  %h1 Forums

.col-md-10.col-md-offset-1
  .row
    .pull-right
      - if user_signed_in?
        %button.btn.btn-flat.btn-labeled.btn-primary{data: { toggle: "modal", target: "#new-thread-modal" }}
          %span.btn-label.icon.fa.fa-plus
          New Thread
      - else
        %a.btn.btn-flat.btn-labeled.btn-primary{href: new_user_registration_path}
          %span.btn-label.icon.fa.fa-plus
          New Thread

  .row
    - Category.all.each do |category|
      %h3= category

      %table{class: "table table-striped"}
        %thead
          %tr
            %th.col-sm-7 Forum
            %th Threads
            %th Posts
            %th Last Post

        %tbody
          - category.forums.each do |forum|
            - last_post = forum.posts.last
            - last_submission = last_post.submission
            %tr
              %td
                %strong= link_to forum, forum
                %br
                = forum.description
              %td= forum.submissions.count
              %td= forum.posts.count
              %td
                = link_to last_submission, unread_submission_path(last_submission)
                %br
                by
                = "#{link_to last_post.author, last_post.author}, at".html_safe
                = l last_submission.updated_at

- if user_signed_in?
  = render partial: "submissions/new"
