- content_for(:body_class, "page-profile")

.profile-full-name
  %span.text-semibold>= @user
  's profile
.profile-row
  .left-col
    .profile-block
      .panel.profile-photo
        = image_tag @user.avatar_url
    .panel.panel-transparent
      .panel-heading
        %span.panel-title Title
      .panel-body
        = @user.title
    .panel.panel-transparent
      .panel-heading
        %span.panel-title Statistics
      .list-group
        .list-group-item
          %strong= @user.profile_views
          Profile Views
        .list-group-item
          %strong= @user.posts.count
          Posts
        .list-group-item
          %strong= Thank.thank_stats_for(@user)[0]
          Thanks
  .right-col
    %hr.profile-content-hr.no-grid-gutter-h/
    .profile-content
      %ul#profile-tabs.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#profile-tabs-top-posts"} Top Posts
        %li
          %a{"data-toggle" => "tab", :href => "#profile-tabs-favorite-posters"} Favorite Posters
        %li
          %a{"data-toggle" => "tab", :href => "#profile-tabs-loved-by"} Loved By
      .tab-content.tab-content-bordered.panel-padding
        #profile-tabs-top-posts.widget-article-comments.tab-pane.panel.no-padding.no-border.active
          %table.table
            %thead
              %tr
                %th Post
                %th Thanks
            %tbody
              - @user.top_posts.each do |post|
                %tr
                  %td= link_to truncate_and_remove_quotes(post.body), submission_path(post.submission, page: post.page, anchor: "post-#{post.id}")
                  %td= post.thanks_count

        #profile-tabs-favorite-posters.widget-followers.tab-pane.panel.no-padding.no-border
          %table.table
            %thead
              %tr
                %th User
                %th= "Times Thanked by #{@user}"
            %tbody
              - @user.favorite_users.each do |favorite|
                %tr
                  %td
                    = image_tag(favorite[0].avatar_url, class: "avatar", height: 40, width: 40)
                    = link_to favorite[0], favorite[0]
                  %td
                    = favorite[1]

        #profile-tabs-loved-by.widget-followers.tab-pane.panel.no-padding.no-border
          %table.table
            %thead
              %tr
                %th User
                %th= "Thanks Given to #{@user}"
            %tbody
              - @user.loved_by.each do |lover|
                %tr
                  %td
                    = image_tag(lover[0].avatar_url, class: "avatar", height: 40, width: 40)
                    = link_to lover[0], lover[0]
                  %td
                    = lover[1]
