#chat.panel.widget-chat
  .panel-body{style: "min-height: 400px; max-height: 400px; overflow-y: scroll; word-wrap: break-word"}
    - Chat.includes(:user).last(100).each do |chat|
      .message{style: "padding-top:0px"}
        = "(#{chat.created_at.strftime("%l:%M %P").strip}) "
        = "#{link_to(chat.user, "/users/#{chat.user.slug}")}:".html_safe
        = Rinku.auto_link(chat.message, :all, 'target="_blank"').html_safe

  %form.panel-footer.chat-controls
    .chat-controls-input
      %textarea#chat-input.form-control{rows: 1, maxlength: 255, autofocus: true, style: "overflow: hidden; word-wrap: break-word; resize: horizontal; height: 32px;"}
    %button#send-chat-input.btn.btn-primary.chat-controls-btn Send
