.row
  %table{class: "table table-striped"}
    %thead
      %tr
        %th Title
        %th Forum
        %th Replies
        %th Last Post By

    %tbody
      - submissions.each do |submission|
        %tr
          %td
            - if submission.has_posts_by?(current_user)
              %i.fa.fa-leaf{style: "color: green"}

            - if submission.viewed_by?(current_user)
              = link_to submission, unread_submission_path(submission), title: submission.alt_text
            - else
              %strong
                = link_to submission, unread_submission_path(submission), title: submission.alt_text
            %br
            Started by
            = link_to submission.posts.first.author, submission.posts.first.author
          %td= link_to submission.forum, submission.forum
          %td= submission.posts_count - 1
          %td
            = link_to submission.posts.last.author, submission.posts.last.author
            %br
            = l submission.posts.last.created_at
