.page-header
  %h1
    = @forum || "What's New"

.col-md-10.col-md-offset-1
  .row
    .pull-left
      Last Chat by
      %strong
        = Chat.last.user
      = "(#{time_ago_in_words Chat.last.created_at} ago)"

    .pull-right
      - if user_signed_in?
        %button.btn.btn-flat.btn-labeled.btn-primary{data: { toggle: "modal", target: "#new-thread-modal" }}
          %span.btn-label.icon.fa.fa-plus
          New Thread
      - else
        %a.btn.btn-flat.btn-labeled.btn-primary{href: new_user_registration_path}
          %span.btn-label.icon.fa.fa-plus
          New Thread

  = render partial: "submissions/index", locals: { submissions: @submissions }

- if user_signed_in?
  = render partial: "submissions/new"
