- author = post.author
.panel{data: { post_id: post.id }, id: "post-#{post.id}"}
  .panel-heading
    %span.panel-title
      %i.panel-title-icon.fa.fa-heart
      = time_ago_in_words post.created_at
      ago
      = "(#{l post.created_at})"

    - if user_signed_in?
      .panel-heading-controls
        - if current_user == author
          %a.btn.btn-xs.btn-info.btn-outline{href: edit_post_path(post)}
            %span.fa.fa-pencil
            Edit Post
          %button.btn.btn-xs.btn-danger.btn-outline.delete-post
            %span.fa.fa-trash-o
            Delete Post
        - else
          %button.btn.btn-xs.btn-info.btn-outline.thank-post{style: "background:#5bc0de;color:#fff"}
            - if Thank.where(user_id: current_user.id, post_id: post.id).exists?
              %span.fa.fa-thumbs-down
              Unthank Post
            - else
              %span.fa.fa-thumbs-up
              Thanks!

  - cache("post-#{post.id}") do
    .panel-body
      .row
        .post-header
          .pull-left.col-sm-6
            = image_tag author.avatar, class: "avatar"
            %i.panel-title-icon.fa{class: "fa-#{author.friendly_gender}"}
            - if author.country.present?
              = country_flag(author.country)
            %strong= link_to author, author
            %br
            %strong= "Regular User"
          .pull-right.col-sm-3
            .pull-left
              Join Date:
              %br
              Posts:
              %br
              Thanked:
            .pull-right
              = l author.created_at
              %br
              = author.posts.count
              %br
              = Thank.thank_stats_for(author)


      %hr
      .post-content
        = markdown post

        - if post.updated_at - 2.minutes > post.created_at
          %br
          %br
          %i
            Edited at
            = l post.updated_at


    - if post.thanks.present?
      .panel-footer
        Thanked by:
        = post.thanks.map(&:user).map { |u| link_to u, u }.join(", ").html_safe
